body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://static.wixstatic.com/media/209ce1_9f24a973adb843f8ad3507cc4c30aeef~mv2.jpg/v1/fit/w_2500,h_1330,al_c/209ce1_9f24a973adb843f8ad3507cc4c30aeef~mv2.jpg'); /* Passe den Pfad zu deinem Bild an */
 background-size: background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.invitation {
  width: 60%;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.9); /* Hintergrundfarbe für den Inhalt der Einladung */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #d9534f;
}

p {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}
